@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.base-timer-circle {
  fill: none;
  stroke: none;
}

.base-timer-path-elapsed {
  stroke-width: 16px;

  @apply stroke-current text-smoke;
}

.base-timer-path-remaining {
  fill-rule: nonzero;
  stroke: currentColor;
  stroke-linecap: butt;
  stroke-width: 16px;
  transform: rotate(-90deg) scaleX(-1);
  transform-origin: center;
  transition: 1s linear all;
}

.mobile-timer-transition {
  transition: 1s linear all;
}

.base-timer-label {
  @apply w-full font-mono text-[1rem];
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  transition: 1s linear all;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-out {
  animation-duration: 1s;
  animation-name: fade-out;
  animation-timing-function: ease-out;
}

.fade-in {
  animation-duration: 1s;
  animation-name: fade-in;
  animation-timing-function: ease-in;
}

.form-submit {
  @apply bg-magenta text-white font-sans mt-6 py-2 px-4 rounded;

  &:focus {
    @apply outline-none ring;
  }

  &:hover {
    @apply bg-pink;
  }
}

.form-label {
  @apply font-medium font-sans block text-night ml-1 mb-2;
}

.form-textarea {
  @apply placeholder-darkGray bg-smoke text-night overflow-x-hidden;
  @apply w-full bg-smoke border border-lightCharcoal p-3 tracking-wide text-md;
}
